<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>404</title>
</head>
<body>
	<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">500</span>
                <div class="mb-4 lead">Internal Server Error</div>
                <div class="mb-4">Unfortunately we're having trouble loading the page you are looking for.
                    Please come back in a while.</div>
            </div>
        </div>
    </div>
</body>
</html>