<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="height=device-height, initial-scale=1">

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static "shortenerapp/css/shortener.css" %}">

    <!-- ClipboardJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>URL Shortener</title>
</head>
<body class="text-center">
    {% load crispy_forms_tags %}
    {% block content %}
    <div class="container-fluid">
        <div class="main-content container-fluid">
            <div class="main-content__header">
                <h2>Shorten you long ugly links</h2>
            </div>
            <div class="main-content__form ">

                <form method="post" class="row d-flex align-items-top align-content-center justify-content-center">
                    {% csrf_token %}
                    <div class="url-field form-group col-md-5 px-0">
                        {{ form.url|as_crispy_field }}
                    </div>
                    <div class="shortcode-field form-group col-md-2 px-1">
                        {{ form.custom_shortcode|as_crispy_field }}
                    </div>
                    <button class="btn btn-primary mb-auto" type="submit">
                        Create URL
                    </button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger col-md-8 offset-md-2" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% if shorturl %}
                <div class="main-content__result">
                    <div class="main-content__result-header">
                        <h3>Your new URL</h3>
                    </div>
                    <a class='shortlink' href="{{ shorturl }}">{{ shorturl }}</a><br>
                    <button class="btn btn-outline-primary btn-sm btn-copy" data-clipboard-target=".shortlink">
                        Copy to clipboard
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    {% endblock content %}
<script>
    new ClipboardJS('.btn-copy');
</script>

</body>
</html>