body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}
.main-content__result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.main-content__form {
    margin: 35px auto;
    width: 100%;
}

.form-group {
    margin: 0;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}
